<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076029723300-539jp68gl244aef2rdii0d34qql3ojv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076029723300-539jp68gl244aef2rdii0d34qql3ojv0</string>
	<key>API_KEY</key>
	<string>AIzaSyCOKsF4vkvWLSpy5qjU-vHF79x3FbKTQUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1076029723300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.a2zOnlineLearning</string>
	<key>PROJECT_ID</key>
	<string>a2zonlinelearning-dc309</string>
	<key>STORAGE_BUCKET</key>
	<string>a2zonlinelearning-dc309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076029723300:ios:cbdc2e7b0ad5802335cc31</string>
</dict>
</plist>